body{
    margin-left: 15%;
    margin-right: 15%;
}
.container{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1 fr;
}
#header{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;
    text-decoration: underline;
    color: #070f18; 
    margin: 10px 0px 0px 0px;
}
#menu{
    text-align: right;
    margin-top: 24px;
}
#menu ul{
   list-style-type: none;
   margin: 0px;
   padding: 0px; 
}
#menu li{
 display: inline-block;
 margin-left: 20px;
 font-family: Poppins;
 font-style: normal;
 font-weight: normal;
 font-size: 16px;
 line-height: 24px;
 text-align: center;
 color: #070f18;
}
a{
    color: black;
    text-decoration: none;
}
#buttonCta{
    background: #1F7CFF;
    border-radius:  50px;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    padding: 10px 25px 10px 25px;
    
}
#headerCta {
    margin-top: 80px;
}
p.gray{
    font-size: 16px;
    font-family: Poppins;
    font-weight: normal;
    font-style: normal;
    line-height: 32px;
    color: #575455;
}
#headerCta h1{
    font-family: Poppins;
    font-size: 55px;
    font-weight: bold;
    font-style: normal;
    color: #000000;
    line-height: 82px;
}
#headerImg{
    margin-left: 72px;
    margin-top: 60px;
  
}
#headerImg img{
    width: 100%;
}
.headerLogo{
    text-align: center;
    
}
#clients{
    margin-top: 50px;
    margin-bottom: 50px;  
}
.headerClienteText{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #070f18;
}
h2.red{
   font-size: 16px;
   font-family: Poppins;
   font-weight: bold;
font-style: normal;
   color: #f75c4e; 
}
h1.black{
    font-size: 36px;
    font-family: Poppins;
    font-weight: bold;
    font-style: normal;
    line-height: 53px;
    color: #000000;
    margin-top: 0px;
}
.textCenter{
    text-align: center;
}
#services .textCenter h3{
    font-size: 20px;
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    line-height: 30px;
    color: #070f18;
    text-align: center;
    }
    
    #contactImg img {
        width: 100%;
    }
    
    #contactForm {
        margin-left: 75px;
        text-align: left;
    }
    
    #contact {
        margin-top: 100px;
    }
    
    #contactForm input {
        background: #f5f6fb;
        border-radius: 50px;
        font-size: 16px;
        font-family: Poppins;
        font-weight: normal;
        font-style: normal;
        line-height: 24px;
        color: #575455;
        border: 0;
        width: 70%;
        padding: 15px 60px 15px 60px;
    }
    
    #contactForm button {
        background: #1F7CFF;
        border-radius: 50px;
        font-size: 16px;
        font-family: Poppins;
        font-weight: 600;
        font-style: normal;
        line-height: 24px;
        color: #FFFFFF;
        border: 0;
        padding: 15px 60px 15px 60px;
        text-align: center;
    }
    
    #portfolioTitle {
        margin-top: 150px;
    }
    
    #portfolioImg img {
        width: 100%;
    }
    
    .portfolioImg {
        padding: 25px;
}
